.footer{
    background-color: #fff;
    color: #6ab026;
    padding: 0.75em;
    text-align: center;
    bottom: 0;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover{
    color: #6add26;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
}