.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    font-weight: bold;
}

.item a{
    color: #00a4b2;
    text-decoration: none;
}

.item a:hover{
    color:#4e4b98;
}